body
{
    font-family:'DroidSansRegular',DroidSansRegular,Arial,'Helvetica Neue',Helvetica,sans-serif ;
    font-size: 1.0em;
}
 
 
/* Containers */
 .container {
	width: 530px;
 }
.calculator {
    display: inline-block;
    text-align: left;
    padding:15px 0 0 30px;
}

label {
    width:70px;
    float:left;
    margin-left:90px;
}
 
.display {
    display: block;
    overflow:hidden;
    text-align: right;
    color: black;
    font-size: 1.0em;  
    margin:0;
}
 
.row {
	margin-bottom:10px;
}

/* Linke Seite */
.left {
	float:left;
	max-width:145px;
}
.left .button {
	width:70px;
	display:inline-block;
}
.left .button-label {
	padding-left:25px;
	display:block;
	}
.left .clear {
	clear:both;
	}
.left div div{
	float:left;
	}
.left .large .button{
	float:left;
	width:145px;
}	
.left .large .button-label {
	padding-left:0;
	}
div.yellow {
	color:#f7a31d;
	}
/* Mitte des Rechnerblocks*/
.middle {
float:left;
margin-left:30px;
}
.middle .button_right_no_corner, .right .button_right_no_corner {
	border-radius: 10px 0px 0px 10px;

	}
.middle .button_no_corner {
	border-radius:0;
	border-left:1px solid #4db3d5;
	border-right: 1px solid #4db3d5;
	margin-left:-4px;
	}
.middle .button_left_no_corner, .right .button_left_no_corner {
	border-radius: 0px 10px 10px 0px;
	margin-left:-5px;
}
.right .button_left_no_corner {
    border-left:1px solid #4db3d5;
}

/*  Rechte Seite des Rechners */
.right {
margin-left:5px;
float:left;
max-width:145px;
}
.right .button {
	float:left;
	}
	
.button {
    display: table-cell;
    vertical-align: middle;
    height: 35px;
    color: #818181;
    font-family: 'Segoe UI Semibold', Calibri, Arial, Helvetica;
    border-radius: 10px;
	width:70px;
	margin-bottom:10px;
	background-image: linear-gradient(bottom, rgb(83,182,215) 0%, rgb(192,231,248) 45%, rgb(199,234,250) 59%);
	background-image: -o-linear-gradient(bottom, rgb(83,182,215) 0%, rgb(192,231,248) 45%, rgb(199,234,250) 59%);
	background-image: -moz-linear-gradient(bottom, rgb(83,182,215) 0%, rgb(192,231,248) 45%, rgb(199,234,250) 59%);
	background-image: -webkit-linear-gradient(bottom, rgb(83,182,215) 0%, rgb(192,231,248) 45%, rgb(199,234,250) 59%);
	background-image: -ms-linear-gradient(bottom, rgb(83,182,215) 0%, rgb(192,231,248) 45%, rgb(199,234,250) 59%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(83,182,215)),
		color-stop(0.45, rgb(192,231,248)),
		color-stop(0.59, rgb(199,234,250))
	);

}
 
.button:hover {
	background-image: linear-gradient(bottom, rgb(177,212,224) 0%, rgb(240,251,255) 54%, rgb(252,254,255) 100%);
	background-image: -o-linear-gradient(bottom, rgb(177,212,224) 0%, rgb(240,251,255) 54%, rgb(252,254,255) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(177,212,224) 0%, rgb(240,251,255) 54%, rgb(252,254,255) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(177,212,224) 0%, rgb(240,251,255) 54%, rgb(252,254,255) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(177,212,224) 0%, rgb(240,251,255) 54%, rgb(252,254,255) 100%);

	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(177,212,224)),
		color-stop(0.54, rgb(240,251,255)),
		color-stop(1, rgb(252,254,255))
	);
}
 
 
.button-label {
    text-align: center;
    vertical-align: middle;
}
 
.button-symbol {
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
}

 
 
/* ergebnis */
#result {
    float:right;
    text-align: right;
    padding-right:20px;
    width:330px;
    -moz-box-shadow: inset 0 0 5px 1px #aaa;
    -webkit-box-shadow: inset 0 0 5px 1px#aaa;
    box-shadow: inset 0 0 5px 1px #aaa;
    margin-right:15px;
}

/* Durchfluss_view und CV_view sollen zu Beginn unsichtbar sein */

#durchflussrechner #Fluss_view,
#durchflussrechner #Rechner,
#durchflussrechner .Fluessigkeiten_view
{
  display: none;
}

 
/* Windows Phone-size phone */
 
@media screen and (min-width:321px) and (max-width: 480px) {
 
    .display {
        width: 284px;
    }
 
    .button {
        width: 60px;
        height: 38px;
    }
 
    .button-label {
        line-height: 38px;
        width: 60px;
    }
 
    .button-symbol {
        line-height: 38px;
        width: 60px;
    }
 
    .tape {
        display: none;
    }
}
 
 
/* iPhone-size smartphone, portrait */
 
@media screen and (max-width : 320px) {
 
    .display {
        width: 204px;
        font-size: 1.2em;
    }
 
    .button {
        width: 40px;
        height: 25px;
    }
 
    .button-label {
        line-height: 25px;
        width: 40px;
        font-size: 1.0em;
    }
 
    .button-symbol {
        line-height: 25px;
        width: 40px;
        font-size: 1.2em;
    }
 
    .tape {
        display: none;
    }
}
 
 
/* iPhone-size smartphone / landscape */
 
@media screen and (max-height : 320px) and (orientation : landscape) {
 
    .display {
        width: 204px;
        font-size: 1.2em;
    }
 
    .button {
        width: 40px;
        height: 25px;
    }
 
    .button-label {
        line-height: 25px;
        width: 40px;
        font-size: 1.0em;
    }
 
    .button-symbol {
        line-height: 25px;
        width: 40px;
        font-size: 1.2em;
    }
 
    .tape {
        display: none;
    }
}